
.header{
    // margin: 10px;
    display:flex;
    border: 1px solid #dddd;
}
.menu{

}
.container{
    display: flex;
    // padding: 10px;
}
.logo{
    padding: 10px
}
.search-bar{
    margin: 10px;
}