.burger-menu{
    margin: 8px -5px 8px 13px;;
    border-radius: 50%;
    background-color: #eeee;
    padding: 16px;
}
.burger{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 4px 0;
}